# Node modules
node_modules/

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Ignore development / duplicate files in gui/ root, keep ONLY the compiled SHARZO HUD build
gui/*
!gui/dist25/
gui/dist25/*
!gui/dist25/SHARZO HUD-win32-x64/
gui/dist25/SHARZO HUD-win32-x64 - Copy/
